/* GENERAL */

:root {
    --primary-color: #585959
}

body {
    font-family: 'Silkscreen', sans-serif;
    background-color: var(--primary-color);
}

/* NAVBAR */

.nav {
    height: 10vh;
    width: 100%;
    background-color: #000;
}

.game-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.game-link {
    display: block;
    height: 100%;
    padding: 4vh 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
}

.game-link.active {
    background-color: var(--primary-color);
}

/* Screen container of index.html */

.game-container {
    position: relative;
    display: flex;
    background-color: #eee;
    height: 70vh;
    width: 80vw;
    margin: 10vh auto 0;
    overflow: hidden;
    border-bottom-right-radius: 10vw 20vw;
    border-top-right-radius: 10vw 20vw;
    border-top-left-radius: 10vw 20vw;
    border-bottom-left-radius: 10vw 20vw;
}

.game {
    justify-content: center;
    align-items: center; 
}

.info-flex {
    display: flex;
    transition: transform .3s ease-in-out;
}

.info-screen {
    display: flex;
    position: relative; /* ask tim, relative makes the crt overlay only cover on info-screen instead of full flex box */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 70vh;
    width: 80vw;
    overflow: hidden;
    object-fit: cover;
    border-bottom-right-radius: 10vw 20vw;
    border-top-right-radius: 10vw 20vw;
    border-top-left-radius: 10vw 20vw;
    border-bottom-left-radius: 10vw 20vw;
}

h1 {
    font-size: 5rem;
}

h1,h2 {
    padding: 2rem;
    text-align: center;
}

.tutorial-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 3;
}

/* GAME CANVAS */

canvas {
    width: 90%;
    height: 90%;
    background-color: #fff;
    /* border-bottom-right-radius: 10vw 20vw;
    border-top-right-radius: 10vw 20vw;
    border-top-left-radius: 10vw 20vw;
    border-bottom-left-radius: 10vw 20vw; */
    border-bottom-right-radius: 3vw;
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    
}

.crt-overlay {
    width: 1000%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.win-lose-screen {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    color: var(--primary-color);
    z-index: 5;
    width: 100%;
    height: 100%;
} 

/* Mobile Buttons */

.mobile-buttons {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding:  6rem;
}

.left-arrow {
    font-size: 4rem;
    border: 5px solid #000;
}

.left-arrow i {
    padding: 1rem;
}

.right-arrow {
    font-size: 4rem;
    border: 5px solid #000;
}

.right-arrow i {
    padding: 1rem;
}

@media screen and (max-width: 500px) {

    .game-container {
        height: 60vh;
    }

    .game-link {
        font-size: 0.8rem;
        padding: 6vh 1rem;
      
    }

    .info-screen {
        display: block;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .tutorial-buttons {
        position: absolute;
        bottom: 10rem;
    }

    .mobile-buttons {
        display: flex;
    }

    .crt {
        display: none;
    }

    .win-lose-screen {
        flex-wrap: wrap;
    }
}