/* GENERAL */

body {
    font-family: 'Silkscreen', sans-serif;
    background-color: #585959;
}

/* NAVBAR */

.nav {
    height: 10vh;
    background-color: #000;
}

.game-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.game-link {
    display: block;
    height: 100%;
    padding: 4vh 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
}

.game-link.active {
    background-color: #585959;
}

.game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 70vh;
    width: 80vw;
    margin: 10vh auto 0;
    overflow: hidden;
    border-bottom-right-radius: 10rem 20rem;
    border-top-right-radius: 10rem 20rem;
    border-top-left-radius: 10rem 20rem;
    border-bottom-left-radius: 10rem 20rem;
}

/* GAME CANVAS */

canvas {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10rem 20rem;
    border-top-right-radius: 10rem 20rem;
    border-top-left-radius: 10rem 20rem;
    border-bottom-left-radius: 10rem 20rem;
    
}

.crt-overlay {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}