/* GENERAL */

:root {
    --primary-color: #585959
}

body {
    font-family: 'Silkscreen', sans-serif;
    background-color: var(--primary-color);
}

/* NAVBAR */

.nav {
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: #000;
}


.game-links {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.game-link {
    display: block;
    height: 100%;
    padding: 4vh 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
}

.game-links li:first-child {
    justify-self: start;
}

.game-link.active {
    background-color: var(--primary-color);
}

.home-btn {
    color: #fff;
    padding: 0 2rem;
    font-size: 2rem;
    transform: translateY(-50%);
}

/* Screen container of index.html */

.game-container {
    position: relative;
    display: flex;
    background-color: #eee;
    height: 70vh;
    width: 80vw;
    margin: 10vh auto 0;
    overflow: hidden;
    border-bottom-right-radius: 10vw 20vw;
    border-top-right-radius: 10vw 20vw;
    border-top-left-radius: 10vw 20vw;
    border-bottom-left-radius: 10vw 20vw;
}

.game {
    justify-content: center;
    align-items: center; 
}

.info-flex {
    display: flex;
    transition: transform .3s ease-in-out;
}

.info-screen {
    display: flex;
    position: relative; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 70vh;
    width: 80vw;
    overflow: hidden;
    object-fit: cover;
    border-bottom-right-radius: 10vw 20vw;
    border-top-right-radius: 10vw 20vw;
    border-top-left-radius: 10vw 20vw;
    border-bottom-left-radius: 10vw 20vw;
}

h1 {
    font-size: 5rem;
}

h1,h2 {
    padding: 2rem;
    text-align: center;
}

.tutorial-buttons {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 3;
}

.tutorial-left:active {
    transform: scale(0.95);
}

.tutorial-right:active {
    transform: scale(0.95);
}

/* GAME CANVAS */

canvas {
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-bottom-right-radius: 3vw;
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    
}

.crt-overlay {
    height: 100%;
    z-index: 2;
}

/* Win/lose screen */

.win-lose-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    color: var(--primary-color);
    z-index: 5;
    width: 100%;
    height: 100%;
} 

/* restart button */

.restart-btn {
    border: 5px solid var(--primary-color);
    padding: 2rem;
    font-size: 2rem;
    margin-top: 5rem;
    cursor: pointer;
    z-index: 4;
    color: var(--primary-color);
    text-decoration: none;
}

.restart-button:active {
    transform: scale(0.95);
}

/* guess the number */

.number-guess-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.number-box {
    border: 5px solid var(--primary-color);
    padding: 1rem;
    font-size: 5rem;
}

.number-input {
    font-family: 'Silkscreen', sans-serif;
    width: 20%;
    padding: 3rem;
    color: var(--primary-color);
    outline: none;
    border: none;
    border-bottom: 5px solid var(--primary-color);
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
    height: 2rem;
    font-size: 5rem;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

/* Quiz game */

.quiz-container {
    width: 90%;
    height: 905;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 2rem;
}

.question {
    text-align: center;
    padding: 2rem;
}

.answers {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 6rem;
    margin: 2rem 0;
}

.quiz-btn {
    max-width: 20rem;
    font-family: inherit;
    background: transparent;
    border: 5px solid var(--primary-color);
    padding: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 4;
    color: var(--primary-color);
    text-decoration: none;
}

.quiz-btn:active {
    transform: scale(0.95);
}

/* Mobile Buttons */

.mobile-buttons {
    width: 100vw;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

.left-arrow {
    font-size: 4rem;
    border: 5px solid #000;
}

.left-arrow i {
    padding: 1rem;
}

.right-arrow {
    font-size: 4rem;
    border: 5px solid #000;
}

.right-arrow i {
    padding: 1rem;
}

.up-arrow {
    font-size: 4rem;
    border: 5px solid #000;
}

.up-arrow i {
    padding: 1rem;
}

.down-arrow {
    font-size: 4rem;
    border: 5px solid #000;
}

.down-arrow i {
    padding: 1rem;
}

.tutorial-mobile {
    display: none;
}

@media screen and (max-width: 500px) {

    .game-container {
        height: 60vh;
    }

    .game-link {
        font-size: 1.2rem;
        padding: 6vh 1rem;
      
    }

    .home-btn.active {
        display: none;
    }

    .active {
        position: absolute;
        top: 80%;
        left: 50%;
        width: 100%;
        text-align: center;
        background: transparent;
        transform: translateX(-50%);
        font-size: 2rem;
    }

    .info-screen {
        display: block;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .tutorial-buttons {
      display: none;
    }

    .tutorial-mobile {
        display: flex;
        padding: 3rem;
    }

    .mobile-buttons {
        display: flex;
    }

    /* .crt {
        display: none;
    } */

    .win-lose-screen {
        flex-wrap: wrap;
    }
}